.searchInputs {
    margin-top: 40px;
    display: flex;
}

.search input {
    background-color: white;
    border: 1px solid #0002;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.searchIcon {
    height: 60px;
    width: 60px;
    background-color: white;
    display: grid;
    place-items: center;
    border: 1px solid #0002;
    border-left: none;
    border-radius: 0 25px 25px 0;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    margin-top: 10px;
    margin-left: 5px;
    width: 330px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 10px;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

#clearBtn {
    cursor: pointer;
}